#content(data-ng-init="carregaAluno();")		
	#content-header
		h1 Alunos
	#content-container		

		<!--  Inicio grid alunos  -->
		.col-md-12
			.portlet
				.portlet-header
					h3
						i.fa.fa-table
						| Alunos
					ul.portlet-tools.pull-right
						li
							a.btn.btn-sm.btn-success(href="#/cad_aluno") Novo

				.portlet-content
					.table-responsive
						table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
							thead
								tr
									th Nome
									th E-mail
									th Celular
									th Fim Contrato
									th Status
									th Ação
								tr
									th 
										input.form-control.input-sm.show(type="text", placeholder="Nome", data-ng-model="alunoFilter.nome")
									th 
										input.form-control.input-sm.show(type="text", placeholder="E-mail", data-ng-model="alunoFilter.email")
									th 
										input.form-control.input-sm.show(type="text", placeholder="Celular", data-ng-model="alunoFilter.celular")
									th 
										input.form-control.input-sm.show(type="text", ws-data, placeholder="Fim Contrato", data-ng-model="alunoFilter.data_fim")
									th 
										input.form-control.input-sm.show(type="text", placeholder="Status", data-ng-model="alunoFilter.status")
									th 
							tbody
								tr(data-ng-repeat="item in alunoDataset | filter:alunoFilter | startFrom: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage")
									td {{item.nome}}
									td {{item.email}}
									td {{item.tel_celular}}
									td {{item.data_fim | date:'dd/MM/yyyy'}}
									td {{item.status | StatusTranslate}}
									td
										a.btn.btn-sm.btn-success(href="#/cad_aluno/{{item.id_aluno}}")
											i.fa.fa-edit
										a.btn.btn-sm.btn-danger(data-ng-click="deletaAluno(item);")
											i.fa.fa-eraser
						pagination.pagination-sm(total-items="alunoDataset.length", page="currentPage", items-per-page="itemsPerPage", boundary-links="true", rotate="false", previous-text="&lsaquo;", next-text="&rsaquo;", first-text="&laquo;", last-text="&raquo;", max-size="maxSize")





