#content(data-ng-init="carregaAulaExp();")			
	#content-header
		h1 Aula Experimental
	#content-container
		.row
			.col-sm-12
				.portlet
					.portlet-header
						h3
							i.fa.fa-tasks	
							| Alunos
						ul.portlet-tools.pull-right
							li
								a.btn.btn-sm.btn-success(href="#/cad_aulaexp") Novo
					.portlet-content
						.table-responsive
							table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
								thead
									tr
										th Nome
										th Data Aula
										th Telefone
										th Observação
										th Confirmado
										th Presente
										th Ação
									th 
										input.form-control.input-sm.show(type="text", placeholder="Nome", ng-model="aulaexpFilter.nome")
									th
										input.form-control.input-sm.show(ws-data, placeholder="Data", type="text", ng-model="aulaexpFilter.data_aula")
									th
										input.form-control.input-sm.show(type="text", placeholder="Telefone", ng-model="aulaexpFilter.telefone")
									th
										input.form-control.input-sm.show(type="text", placeholder="Observação", ng-model="aulaexpFilter.observacao")
									th
										input.form-control.input-sm.show(type="text", placeholder="Confirmado", ng-model="aulaexpFilter.confirmado")
									th
										input.form-control.input-sm.show(type="text", placeholder="Presente", ng-model="aulaexpFilter.presente")
									th
								tbody
									tr(data-ng-repeat="item in aulaexpDataset | filter:aulaexpFilter")
										td {{item.nome}}
										td {{item.data_aula | date:'dd/MM/yyyy'}}
										td {{item.telefone}}
										td {{item.observacao}}
										td {{item.confirmado}}
										td {{item.presente}}
										td
											a.btn.btn-sm.btn-success(href="#/cad_aulaexp/{{item.id_aulaexp}}")
												i.fa.fa-edit
											a.btn.btn-sm.btn-danger(ng-click="deletaAulaExp(item);")
												i.fa.fa-eraser