#content(data-ng-init="carregaCadUsuario();")
	#content-header
		h1 Usuário

	#content-container
		.portlet
			.portlet-header
				h3 
					i.fa.fa-tasks
					| Usuario

			.portlet-content
				form.form(name="form", novalidate)
					.row
						.col-sm-12
							.form-group
								label(for="usuarioNome") Nome *
								input#usuarioNome.form-control(type="text", data-ng-model="usuario.nome", required)

						.col-sm-12
							.form-group
								label(for="usuarioAcesso") Usuário de Acesso *
								input#usuarioAcesso.form-control(type="text", data-ng-model="usuario.usuario", required)

						.col-sm-12	
							.form-group(data-ng-class="{'has-error': form.confirmacao_senha.$error.wsVerificaSenha}")	
								label.control-label(for="senha") Senha
								input#senha.form-control(type="password", data-ng-model="usuario.senha")
								span.control-label(data-ng-show="form.confirmacao_senha.$error.wsVerificaSenha") As senhas digitadas não coincidem

						.col-sm-12
							.form-group(data-ng-class="{'has-error': form.confirmacao_senha.$error.wsVerificaSenha}")
								label.control-label(for="confirmacao_senha") Confirmar Senha
								input#confirmacao_senha.form-control(type="password", name="confirmacao_senha", data-ng-model="usuario.confirmacaoSenha", ws-verifica-senha, senha="usuario.senha")
								span.control-label(data-ng-show="form.confirmacao_senha.$error.wsVerificaSenha") As senhas digitadas não coincidem

					.row
						.col-sm-12
							button.btn.btn-success(type="button", data-ng-click="salvarUsuario();", data-ng-disabled="form.$invalid") Salvar
							button.btn.btn-danger(type="button", data-ng-click="cancelaEdicaoUsuario();") Cancelar