#content(data-ng-init="carregaCadServico();")	
	#content-header
		h1 Serviço
		
	#content-container
		.portlet
			.portlet-header
				h3
					i.fa.fa-tasks
					| Serviço

			.portlet-content
				form.form(name="form", novalidate)
					.row
						.col-sm-12
							.form-group
								label(for="aluno") Aluno *
								<!-- <input type="text" id="aluno" class="form-control" ng-model="servicoDataset.id_aluno"> -->
								select#aluno.form-control(data-ng-model="servicoDataset.id_aluno", ui-select2, data-placeholder="Selecione um aluno", required)
									option
									option(data-ng-repeat="aluno in selectAluno", value="{{aluno.id_aluno}}") {{aluno.nome}}

							.form-group
								label(for="data") Data *
								input#data.form-control(ws-data, type="text", data-ng-model="servicoDataset.data", data-ng-required="true")
							
							.form-group	
								label(for="tipo") Tipo *
								input#tipo.form-control(type="text", data-ng-model="servicoDataset.tipo", required)
							
							.form-group
								label(for="valor") Valor *
								.input-group	
									span.input-group-addon R$
									input#valor.form-control(type="text", data-ng-model="servicoDataset.valor", required)

							.form-group
								label(for="descricao") Descrição *
								textarea#descricao.form-control(data-ng-model="servicoDataset.descricao", required)
							
							button.btn.btn-success(type="button", data-ng-click="salvaServico();", data-ng-disabled="form.$invalid") Salvar
							button.btn.btn-danger(type="button", data-ng-click="cancelaEdicaoServico();") Cancelar