#content(data-ng-init="carregaCadPresenca();")
	#content-header
		h1 Aulas
		
	#content-container
		.row
			.col-sm-6
				.portlet
					.portlet-header
						h3
							i.fa.fa-tasks
							| Pesquisa

					.portlet-content
						.row
							.col-sm-9
								.form-group
									label(for="nomeAluno") Aluno
									input#nomeAluno.form-control(type="text", data-ng-model="cadPesquisaAluno.nome")

							.col-sm-3
								.form-group
									label(for="pesquisa") &nbsp
									a#pesquisa.btn.btn-success(data-ng-click="presquisaAluno();") Pesquisar

						.row
							.table-responsive
								table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
									thead
										tr
											th Nome
											th Plano
											th Plano fim
											th Presenças periodo atual
											th Máx. aulas por periodo
											th Presente

									tbody
										tr(data-ng-repeat="item in cadAlunoDataset | orderBy:'nome'", data-ng-class="{success:item.presente}")
											td
												{{item.nome}} 
												a.info-modal(data-ng-show="item.observacao_presenca", data-ng-click='modalObservacaoAluno(item)')
													i.fa.fa-info-circle

											td {{item.plano}}
											td {{item.data_fim | date:'dd/MM/yyyy'}}
											td {{item.total_aulas_periodo}}
											td {{item.dias_por_periodo}}
											td(data-ng-if="!item.presente")
												a.btn.btn-sm.btn-success(data-ng-click="adicionaAlunoPresente(item);")
													i.fa.fa-toggle-right
											
											td(data-ng-if="item.presente")
												Presente {{item.presente}}

			.col-sm-6
				.portlet
					.portlet-header
						h3
							i.fa.fa-tasks
							| Presença
					
					.portlet-content
						.form-group
							label(for="dataPresenca") Data
							input#dataPresenca.form-control(ws-data, type="text", data-ng-model="cadPresencaDataset.data")
								
						.form-group
							label(for="horarioPresenca") Horário
							input#horarioPresenca.form-control(ws-hora, type="text", data-ng-model="cadPresencaDataset.horario")
								
						.form-group
							label(for="excedentesPresenca") Excedentes
							input#excedentesPresenca.form-control(type="text", data-ng-model="cadPresencaDataset.excedente")
						
						.table-responsive
							table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
								thead
									tr
										th Senha
										th Nome
										th Ação

								tbody
									tr(data-ng-repeat="item in cadPresencaDataset.presentes")
										td {{item.senha}}
										td {{item.nome}}
										td 
											a.btn.btn-sm.btn-danger(data-ng-click="removeAlunoPresente(item);")
												i.fa.fa-eraser

						button.btn.btn-success(type="button", data-ng-click="salvaPresenca();") Salvar
						button.btn.btn-danger(type="button", data-ng-click="cancelaEdicaoPresenca();") Cancelar