#content(data-ng-init="carregaCadAluno();")
	#content-header
		h1 Aluno
	#content-container
		.portlet
			.portlet-header
				h3
					i.fa.fa-tasks
					| Aluno
				ul.portlet-tools.pull-right(data-ng-if="cadAlunoDataset.id_aluno")
					li
						a.btn.btn-sm.btn-success(href="#/contrato/{{cadAlunoDataset.id_aluno}}") Contratos
			.portlet-content
				form.form(name="form", novalidate)
					.row
						.col-sm-12
							.form-group
								label(for="alunoNome") Nome *
								input#alunoNome.form-control(type="text", data-ng-model="cadAlunoDataset.nome", required)
						.col-sm-6
							.form-group
								label(for="alunoDataNasc") Data Nascimento *
								input#data_nasc.form-control(ws-data, type="text", data-ng-model="cadAlunoDataset.data_nasc", ng-required="true")

							.form-group
								label(for="alunoRg") RG *
								input#alunoRg.form-control(type="text", placeholder="99.999.999", data-ng-model="cadAlunoDataset.rg", required)
							
							.form-group
								label(for="alunoCpf") CPF *
								input#alunoCpf.form-control(type="text", placeholder="999.999.999-99", data-ng-model="cadAlunoDataset.cpf", required)
							
							.form-group
								label(for="alunoEstadoCivil") Estado Cívil
								input#alunoEstadoCivil.form-control(type="text", data-ng-model="cadAlunoDataset.estado_civil")
							
							.form-group
								label(for="alunoEmail") E-mail
								input#alunoEmail.form-control(type="email", data-ng-model="cadAlunoDataset.email")
							
							.form-group
								label(for="alunoTelFixo") Telefone Fixo
								input#alunoTelFixo.form-control(type="text", placeholder="(99)9999-9999", data-ng-model="cadAlunoDataset.tel_fixo")
							
							.form-group
								label(for="alunoTelCelular") Telefone Celular
								input#alunoTelCelular.form-control(type="text", placeholder="(99)9999-9999", data-ng-model="cadAlunoDataset.tel_celular")
							
							.form-group
								label(for="alunoPessoaReferencia") Pessoa Referência
								input#alunoPessoaReferencia.form-control(type="text", data-ng-model="cadAlunoDataset.pessoa_ref")
							
							.form-group
								label(for="alunoTelReferencia") Telefone Referência
								input#alunoTelReferencia.form-control(type="text", placeholder="(99)9999-9999", data-ng-model="cadAlunoDataset.tel_ref")
							
							.form-group
								label(for="alunoAtestadoMedico") Atestado Médico *
								select#alunoAtestadoMedico.form-control(data-ng-model="cadAlunoDataset.atestado_medico", required)
									option(value="S") Sim
									option(value="N") Não

						.col-sm-6
							.form-group
								label(for="alunoCep") CEP *
								input#alunoCep.form-control(type="text", placeholder="99999-999", data-ng-model="cadAlunoDataset.cep", ng-blur="consultaCep();", required)
							
							.form-group
								label(for="alunoLogradouro") Logradouro
								input#alunoLogradouro.form-control(type="text", data-ng-model="cadAlunoDataset.logradouro")
							
							.form-group
								label(for="alunoComplemento") Complemento
								input#alunoComplemento.form-control(type="text", data-ng-model="cadAlunoDataset.complemento")
							
							.form-group
								label(for="alunoBairro") Bairro
								input#alunoBairro.form-control(type="text", data-ng-model="cadAlunoDataset.bairro")
							
							.form-group
								label(for="alunoCidade") Cidade
								input#alunoCidade.form-control(type="text", data-ng-model="cadAlunoDataset.cidade")
							
							.form-group
								label(for="alunoUf") UF
								input#alunoUf.form-control(type="text", data-ng-model="cadAlunoDataset.uf")
							
							.form-group
								label(for="alunoPlanoSaude") Plano de Saude
								input#alunoPlanoSaude.form-control(type="text", data-ng-model="cadAlunoDataset.plano_saude")
							
							.form-group
								label(for="alunoObservacao") Observação
								textarea#alunoObservacao.form-control(cols="10", rows="4", data-ng-model="cadAlunoDataset.observacao")
							
							.form-group
								label(for="alunoObservacao") Observação Presença
								textarea#alunoObservacao.form-control(cols="10", rows="2", data-ng-model="cadAlunoDataset.observacao_presenca")

					.row
						.col-sm-12
							button.btn.btn-success(type="button", ng-click="salvaAluno();", ng-disabled="form.$invalid") Salvar
							button.btn.btn-danger(type="button", ng-click="cancelaEdicaoAluno();") Cancelar