#content(data-ng-init="carregaCadDesconto();")			
	#content-header
		h1 Desconto

	#content-container
		.portlet
			.portlet-header
				h3
				i.fa.fa-tasks
				| Descontos

			.portlet-content
				form.form(name="form", novalidate)
					.row
						.col-sm-12
							.form-group
								label(for="descontoNome") Nome *
								input#descontoNome.form-control(type="text", data-ng-model="descontoDataset.nome", required)

							.form-group
								label(for="descontoPorcentual") Porcentual *
								.input-group	
									input#descontoPorcentual.form-control(type="text", data-ng-model="descontoDataset.porc_desc", required)
									span.input-group-addon %	

							button.btn.btn-success(type="button", data-ng-click="salvaDesconto();", data-ng-disabled="form.$invalid") Salvar
							button.btn.btn-danger(type="button", data-ng-click="cancelaEdicaoDesconto();") Cancelar
