#content(data-ng-init="carregaCadFinCategoria();")		
	#content-header
		h1 Categoria
	
	#content-container
		.portlet
			.portlet-header
				h3
					i.fa.fa-tasks
						| Categoria

			.portlet-content
				form.form(name="form", novalidate)
				.row
					.col-sm-12
						.form-group
							label(for="text-input") Nome *
							input#text-input.form-control(type="text", data-ng-model="financeiroDataset.nome", required)

						button.btn.btn-success(type="button", data-ng-click="salvaFinCategoria();", data-ng-disabled="form.$invalid") Salvar
						button.btn.btn-danger(type="button", data-ng-click="cancelaEdicaoCategoria();") Cancelar