#content(data-ng-init="carregaCadPlano();")
	#content-header
		h1 Plano

	#content-container
		.portlet
			.portlet-header
				h3
					i.fa.fa-tasks	
					| Planos

			.portlet-content
				form.form(name="form", novalidate)
				.row
					.col-md-6
						.form-group
							label(for="text-input") Nome *
							input#text-input.form-control(type="text", data-ng-model="planoDataset.nome", required)

						.form-group	
							label(for="select-input") Tipo *
							select#select-input.form-control(data-ng-model="planoDataset.tipo", required)
								option(value="1") Mensal
								option(value="2") Trimestral
								option(value="3") Semestral
								option(value="4") Anual

					.col-md-6
						.form-group
							label(for="planoValor") Valor *
							.input-group	
								span.input-group-addon R$	
								input#planoValor.form-control(type="text", data-ng-model="planoDataset.valor", required)

						.form-group
							label(for="text-input") Aulas por periodo
							input#text-input.form-control(type="text", data-ng-model="planoDataset.dias_por_periodo")

						button.btn.btn-success(type="button", data-ng-click="salvaPlano();", data-ng-disabled="form.$invalid") Salvar
						button.btn.btn-danger(type="button", data-ng-click="cancelaEdicaoPlano();") Cancelar