#dashboard
	h1 
		| Dashboard
		.user
		.sair
	.content
		.box-status.ativo
			.icone
			.titulo Alunos ativos
			span 345
		.box-status.inativo
			.icone
			.titulo Alunos inativos
			span 34
		.box-status.trancado
			.icone
			.titulo Alunos trancados
			span 16
		.box-status.finalizado
			.icone
			.titulo Alunos finalizados
			span 78
		hr
		.box
			.titulo.aniversario Aniversariantes do mês
			table
				tr
					th Aluno
					th Data
				tr
					td Felipe Araújo
					td 22/05
				tr
					td Bernard Faria
					td 21/05
				tr
					td João Machado
					td 18/05
				tr
					td André Castro
					td 12/05
		.box.dir
			.titulo.planos Planos Vencendo
			table
				tr
					th Aluno
					th Data
				tr
					td Felipe Araújo
					td 22/05
				tr
					td Bernard Faria
					td 21/05
				tr
					td João Machado
					td 18/05
				tr
					td André Castro
					td 12/05
		.box
			.titulo.estacionamento Estacionamento Vencido
			table
				tr
					th Aluno
					th Data
				tr
					td Felipe Araújo
					td 22/05
				tr
					td Bernard Faria
					td 21/05
				tr
					td João Machado
					td 18/05
				tr
					td André Castro
					td 12/05
		.box.dir
			.titulo.estacionamento Estacionamento Trancado
			table
				tr
					th Aluno
					th Placa
				tr
					td Felipe Araújo
					td GHG-7654
				tr
					td Bernard Faria
					td GHG-7654
				tr
					td João Machado
					td GHG-7654
				tr
					td André Castro
					td GHG-7654