h1 Dashboard
.content
	.box-status.ativo
		.icone
		.titulo Alunos ativos
		span 345
	.box-status.inativo
		.icone
		.titulo Alunos inativos
		span 34
	.box-status.trancado
		.icone
		.titulo Alunos trnacados
		span 16
	.box-status.finalizado
		.icone
		.titulo Alunos finalizados
		span 78
	hr