#content(data-ng-init="carregaDesconto();")
	#content-header
		h1 Desconto
	#content-container
		.col-md-12
			.portlet
				.portlet-header
					h3
						i.fa.fa-table
						| Desconto
					ul.portlet-tools.pull-right
						li
							a.btn.btn-sm.btn-success(href="#/cad_desconto") Novo
				.portlet-content
					.table-responsive
						table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
							thead
								tr
									th Nome
									th % Desconto
									th Ação
								tr
									th
										input.form-control.input-sm.show(type="text", placeholder="Nome", data-ng-model="descontoFilter.nome")
									th
										input.form-control.input-sm.show(type="text", placeholder="valor", data-ng-model="descontoFilter.porc_desc")
									th
							tbody
								tr(data-ng-repeat="item in descontoDataset | filter:descontoFilter")
									td {{item.nome}}
									td {{item.porc_desc}}
									td
										a.btn.btn-sm.btn-success(href="#/cad_desconto/{{item.id_desconto}}")
											i.fa.fa-edit
										a.btn.btn-sm.btn-danger(data-ng-click="deletaDesconto(item);")
											i.fa.fa-eraser