#content(data-ng-init="carregaFinCategoria();")
	#content-header
		h1 Categoria
	#content-container
		.col-md-12
			.portlet
				.portlet-header
					h3
						i.fa.fa-money
						| Categoria
					ul.portlet-tools.pull-right
						li
							a.btn.btn-sm.btn-success(href="#/financeiro/cad_categoria") Novo
				.portlet-content
					.table-responsive
						table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
							thead
								tr
									th Nome
									th Ação
								tr
									th
										input.form-control.input-sm.show(type="text", placeholder="Nome", data-ng-model="finCategoriaFilter.nome")
									th
							tbody
								tr(data-ng-repeat="item in financeiroDataset | filter:finCategoriaFilter")
									td {{item.nome}}
									td
										a.btn.btn-sm.btn-success(href="#/financerio/cad_categoria/{{item.id_categoria}}")
											i.fa.fa-edit
										a.btn.btn-sm.btn-danger(data-ng-click="removeFinCategoria(item);")
											i.fa.fa-eraser