#content(data-ng-init="carregaFinanceiro();")
	#content-header
		h1 Financeiro
	#content-container
		.col-md-12
			.portlet
				.portlet-header
					h3
						i.fa.fa-money
						| Financeiro
					ul.portlet-tools.pull-right
						li
							a.btn.btn-sm.btn-success(href="#/financeiro/cad_movimento") Novo Movimento
				.portlet-content
					.col-md-12
						.btn-group
						    button.btn.btn-sm.btn-default.dropdown-toggle(type="button", data-toggle="dropdown") {{filtroFinanceiro.ano}}
						      <span class="caret"></span>
						    ul.dropdown-menu
						      li(data-ng-repeat="ano in listaAnos")
						      	a(data-ng-click="filtrarAno(ano.ano)") {{ano.ano}}
					  	.btn-group(data-toggle="buttons")
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 1}", data-ng-click="filtrarMes(1)") Janeiro
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 2}", data-ng-click="filtrarMes(2)") Fevereiro
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 3}", data-ng-click="filtrarMes(3)") Março
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 4}", data-ng-click="filtrarMes(4)") Abril
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 5}", data-ng-click="filtrarMes(5)") Maio
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 6}", data-ng-click="filtrarMes(6)") Junho
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 7}", data-ng-click="filtrarMes(7)") Julho
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 8}", data-ng-click="filtrarMes(8)") Agosto
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 9}", data-ng-click="filtrarMes(9)") Setembro
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 10}", data-ng-click="filtrarMes(10)") Outubro
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 11}", data-ng-click="filtrarMes(11)") Novembro
				  			button.btn.btn-default(type="button", data-ng-class="{'btn-info':filtroFinanceiro.mes == 12}", data-ng-click="filtrarMes(12)") Dezembro
					hr.full
					.col-md-6
						.portlet
							.portlet-header
								h3 Entradas e Saídas deste mês
							.portlet-content
								table.table-fin
									tbody
										tr.entrada
											td Entradas
											td(align="right") {{ entradasPeriodo(financeiroFiltrado) | currency:'R$'}}
										tr.saida
											td Saídas
											td(align="right") {{ saidasPeriodo(financeiroFiltrado) | currency:'R$'}}
										tr
											td Resultado
											td(align="right") {{ resultadoPeriodo(financeiroFiltrado) | currency:'R$'}}
					.col-md-6
						.portlet
							.portlet-header
								h3 Balanço Geral
							.portlet-content
								table.table-fin
									tbody
										tr.entrada
											td Entradas
											td(align="right") {{ entradasPeriodo(financeiroDataset) | currency:'R$'}}
										tr.saida
											td Saídas
											td(align="right") {{ saidasPeriodo(financeiroDataset) | currency:'R$'}}
										tr
											td Resultado
											td(align="right") {{ resultadoPeriodo(financeiroDataset) | currency:'R$'}}
					.col-md-12
						.portlet
							.portlet-header
								h3 Movimentos deste Mês
							.portlet-content
								.table-responsive
									table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
										thead
											tr
												th Data
												th Descrição
												th Categoria
												th Tipo
												th Valor
												th Ação
											tr
												th
													input.form-control.input-sm.show(type="text", ws-data placeholder="Data" data-ng-model="financeiroFilter.data")
												th
													input.form-control.input-sm.show(type="text", placeholder="Descrição" data-ng-model="financeiroFilter.descricao")
												th
													input.form-control.input-sm.show(type="text", placeholder="Categoria" data-ng-model="financeiroFilter.categoria")
												th
													input.form-control.input-sm.show(type="text", placeholder="Tipo" data-ng-model="financeiroFilter.tipo")
												th
													input.form-control.input-sm.show(type="text", placeholder="Valor" data-ng-model="financeiroFilter.valor")
												th
										tbody
											tr(data-ng-repeat="item in financeiroFiltrado | filter:financeiroFilter")
												td {{item.data | date:'dd/MM/yyyy'}}
												td {{item.descricao}}
												td(ng-repeat="categoria in listaCategorias | filter:{id_agrupador:item.id_agrupador}:true") {{categoria.nome}}
												td {{item.tipo | TipoFinanceiroTranslate}}
												td {{item.valor | currency:'R$'}}
												td 
													a.btn.btn-sm.btn-success(href="#/financeiro/cad_movimento/{{item.id_financeiro}}")
														i.fa.fa-edit
													a.btn.btn-sm.btn-danger(data-ng-click="removeFinMovimento(item);")
														i.fa.fa-eraser