!!! 5
html
	head
		title Wodstorm - Box Admin
		link(href='assets/styles/main.css', rel='stylesheet', type='text/css')
		script(type="text/javascript", src="assets/scripts/main.js")
		meta(charset='utf-8')
	body
		.menu-lateral
			.logo
			ul
				li
					a.m1.active(href="#") Dashboard
				li
					a.m2(href="#") Alunos
				li
					a.m3(href="#")
						| Aula
						br
						| Experimental
				li
					a.m4(href="#") Estacionamento
				li
					a.m5(href="#") Serviços
				li
					a.m6(href="#") Presença
				li
					a.m7(href="#") Relatórios
				li
					a.m8(href="#") Financeiro
				li
					a.m9(href="#") Configuração
				li
					a.m10(href="#") Leaderboard
		.container
			include leaderboard
	//- .fundo
	//- 	.popupContainer
	//- 		.sair
	//- 		.titulo Nova Movimentação