!!! 5
html
	head
		title Wodstorm - Box Admin
		link(href='assets/styles/main.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
	body
		.menu-lateral
			.logo
			ul
				li
					a.active(href="#") Dashboard
				li
					a(href="#") Alunos
				li
					a(href="#")
						| Aula
						br
						| Experimental
				li
					a(href="#") Estacionamento
				li
					a(href="#") Serviços
				li
					a(href="#") Presença
				li
					a(href="#") Relatórios
				li
					a(href="#") Configuração
				li
					a(href="#") Leaderboard
		.container
			include dashboard