!!! 5
html(data-ng-app="crossfitApp")
	head
		title Wodstorm
		link(href='assets/styles/main.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
		meta(name="description", content="Wodstorm - Sistema de gerencia de box de crossfit")
		meta(name="author", content="Wodstorm")
	body(data-ng-switch, on="$root.logged")
		#wrapper(data-ng-switch-when="true")
			header#header(data-ng-show="headerIsVisible")
				h1#site-logo
					a(href="#/dashboard")
						img(src="assets/images/logo.png", alt="WodStorm")
			nav#top-bar(ws-nav-usuario)
			#sidebar-wrapper(ws-sidebar-menu)

			div(data-ng-view)

			.modal(data-ng-show="carregando")
				.loading

			footer#footer
				p Copyright &copy; 2013, WodStorm.

		#wrapper(data-ng-switch-default)
			div(data-ng-view)