#leaderboard
	h1 
		| Leaderboards
		.user
		.sair
	.content
		.box
			.titulo Leaderboards
			form
				.tab
					ul.tabs
						li.active
							a(href="#") Do Dia
						li
							a(href="#") Passado
					.tab-content
						#dodia
							p
								label Aluno
								select
									option Bernard Faria
									option João Machado
									option Victor Vieira
							.check
								input(type="checkbox", id="rx")
								label(for="rx") Rx?
							p.rep
								label Repetiçoões
								input(type="text")
							p.min
								label Minutos
								input(type="text")
							p.seg
								label Segundos
								input(type="text")
							p
								label Observação
								input(type="text")
							p
								label url externa
								input(type="text")
							.botoes
								button.salvar Adicionar
								button Limpar
							hr
							table
								tr
									th Aluno
									th Rx
									th Repetiçoões
									th Tempo
									th Observação
								tr
									td Dinheiro
									td 91
									td Desconto 5%
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Cheque
									td 101
									td Máximo 6x
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Cartão de Crédito
									td 111
									td Máximo 6x
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Cartão de Débito
									td 112
									td 
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Boleto
									td 115
									td 
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
						#passado
							table
								tr
									th Nome
									th Valor
									th Observção
									th Ação
								tr
									td Mensal 2x
									td R$250,00
									td
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Mensal 2x
									td R$250,00
									td
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Mensal 2x
									td R$250,00
									td
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Mensal 2x
									td R$250,00
									td
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar
								tr
									td Mensal 2x
									td R$250,00
									td
									td
										a(href='#', title='Excluir').excluir
										a(href='#', title='Editar').editar