!!! 5
html
	head
		title Wodstorm - Box Admin
		link(href='assets/styles/main.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
	body.login
		.sombra
		.container
			.logo
			.box-login
				.titulo Olá! Bem vindo(a) ao Box Admin!
				.descricao Insira seus dadso para logar
				form
					p
						label Usuário:
						input(type="text", placeholder="Usuário")
						//- .msg-alert Usuário não cadastrao
					p
						label Senha:
						input(type="password", placeholder="Senha")
						//- .msg-alert Senha incorreta
					p
						label Org:
						input(type="text", placeholder="Organização")
					button Confirmar
			a(href="#") Esqueci minha senha