link(rel="stylesheet", href="public/assets/css/Login.css", type="text/css")
#login-container
	#logo
		a
			img(src="public/assets/img/logos/logo-login.png", alt="WodStorm")
	#login
		div
			h3 Você efetuou logout.
			p
				| Para retornar a tela de login clique
				a(href="#/") aqui