#content(data-ng-init="carregaPerfil();")
	#content-header
		h1 Configurações de Perfil
	#content-container
		.row
			.col-md-3.col-sm-4
				ul#myTab.nav.nav-pills.nav-stacked
					li.active(ws-stacked-nav, stackedid="profile-tab")
						a(data-toggle="tab")
							i.fa.fa-user
							| &nbsp;&nbsp;Configurações de Perfil
					li(ws-stacked-nav, stackedid="password-tab")
						a(data-toggle="tab")
							i.fa.fa-lock
							| &nbsp;&nbsp;Alterar Senha
			.col-md-9.col-sm-8
				.tab-content.stacked-content
					#profile-tab.tab-pane.fadeinactive
						form.form-horizontal
							.form-group
								label.col-md-3 Nome
								.col-md-7
									input.form-control(type="text", name="nome", data-ng-model="perfilDataset.nome", required)
							.form-group
								label.col-md-3 Usuário
								.col-md-7
									input.form-control(type="text", name="usuario", data-ng-model="perfilDataset.usuario", required)
							br
							.form-group
								.col-md-7.col-md-push-3
									button.btn.btn-success(data-ng-disabled="form.$invalid", data-ng-click="salvaPerfil();") Salvar
					#password-tab.tab-pane.fade
						form.form-horizontal
							.form-group
								label.col-md-3 Senha atual
								.col-md-7
									input.form-control(type="password", name="senhaAtual", data-ng-model="perfilDataset.senhaAtual")
							hr
							.form-group
								label.col-md-3 Nova senha
								.col-md-7
									input.form-control(type="password", name="novaSenha1", data-ng-model="perfilDataset.novaSenha")
							.form-group
								label.col-md-3 Confirmação de senha
								.col-md-7
									input.form-control(type="password", name="novaSenha2", data-ng-model="perfilDataset.confirmaSenha")
							br
							.form-group
								.col-md-7.col-md-push-3
									button.btn.btn-success(data-ng-click="atualizaSenha();") Salvar