link(rel="stylesheet", type="text/css", href="public/assets/css/relatorio.css")
#content(data-ng-init="loadRelAniversariantes();")
	#content-container
		.logo
			.logo-wodstormapp
				img(src="{{relatorio.logo_wodstormapp}}")
		.report-title
			h2 {{relatorio.titulo}}
		.col-md-12
			.portlet
				.report-details
					.nome-relatorio {{relatorio.nome}}
					.versao {{relatorio.versao}}
					.data-criacao {{relatorio.dataCriacao}}
			.body
				table(border="1")
					tbody
						tr(data-ng-repeat="row in relatorio.dados")
							td(data-ng-repeat="coluna in row") {{coluna}}
			.footer