#content(ng-init="carregaRelAlunosPlano();")
	#content-header
		h1 Relatório de Alunos/Plano
	#content-container
		.row
			.col-sm-12
				.portlet
					.portlet-header
						h3
							i.fa.fa-tasks
							| Alunos ativos e trancados por plano
					.portlet-content
						.table-responsive
							table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
								thead
									tr
										th Número de alunos
										th Plano
										th Percentual
								tbody
									tr(ng-repeat="item in relAlunosPlanoDataset")
										td {{item.num_alunos}}
										td {{item.plano}}
										td {{item.percentual}}%