#content(data-ng-init="carregaServico();")
	#content-header
		h1 Serviço
	#content-container
		.col-md-12
			.portlet
				.portlet-header
					h3
						i.fa.fa-table
						| Serviço
					ul.portlet-tools.pull-right
						li
							a.btn.btn-sm.btn-success(href="#/cad_servico") Novo
				.portlet-content
					.table-responsive
						table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
							thead
								tr
									th Aluno
									th Data
									th Tipo
									th Valor
									th Descrição
									th Ação
								tr
									th
										input.form-control.input-sm.show(type="text", placeholder="Aluno", data-ng-model="planoFilter.aluno")
									th
										input.form-control.input-sm.show(type="text", placeholder="Data", ws-data ng-model="planoFilter.data")
									th
										input.form-control.input-sm.show(type="text", placeholder="Tipo", data-ng-model="planoFilter.tipo")
									th
										input.form-control.input-sm.show(type="text", placeholder="Valor", data-ng-model="planoFilter.valor")
									th
										input.form-control.input-sm.show(type="text", placeholder="Descrição", data-ng-model="planoFilter.descricao")
									th
							tbody
								tr(data-ng-repeat="item in servicoDataset | filter:servicoFilter")
									td {{item.aluno}}
									td {{item.data | date:'dd/MM/yyyy'}}
									td {{item.tipo}}
									td {{item.valor}}
									td {{item.descricao}}
									td
										a.btn.btn-sm.btn-success(href="#/cad_servico/{{item.id_servico}}")
											i.fa.fa-edit
										a.btn.btn-sm.btn-danger(data-ng-click="deletaServico(item);")
											i.fa.fa-eraser
									