#content(data-ng-init="carregaUsuarios();")
  #content-header
    h1 Usuários
  #content-container

    .col-md-12
      .portlet
        .portlet-header
          h3
            i.fa.fa-table
            | Usuários
          ul.portlet-tools.pull-right
            li
              a.btn.btn-sm.btn-success(href="#/cad_usuario") Novo
        .portlet-content
          .table-responsive
            table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
              thead
                tr
                  th Nome
                  th Usuário de Acesso
                  th Ação
                tr
                  th
                    input.form-control.input-sm.show(type="text", placeholder="Nome", data-ng-model="usuarioFilter.nome")
                  th
                    input.form-control.input-sm.show(type="text", placeholder="Usuário de Acesso", data-ng-model="usuarioFilter.usuario")
                  th
              tbody
                tr(data-ng-repeat="usuario in usuarios | filter:usuarioFilter | startFrom: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage")
                  td {{usuario.nome}}
                  td {{usuario.usuario}}
                  td
                    a.btn.btn-sm.btn-success(href="#/cad_usuario/{{usuario.id_usuario}}")
                      i.fa.fa-edit
                    a.btn.btn-sm.btn-danger(data-ng-click="deletaUsuario(usuario);")
                      i.fa.fa-eraser
            pagination.pagination-sm(total-items="usuarios.length", page="currentPage", items-per-page="itemsPerPage", boundary-links="true", rotate="false", previous-text="&lsaquo;", next-text="&rsaquo;", first-text="&laquo;", last-text="&raquo;", max-size="maxSize")