#aluno
#cad_aluno
	.titulo
		&:after
			content '\e600'
#cad_aluno
	.titulo
		border-bottom 10px solid #353535
		margin-bottom 10px
	input[type="text"]
	input[type="password"]
	input[type="email"]
	input[type="date"]
	textarea
		width 326px
	select
		width 360px
	.observacao
		height 135px
		textarea
			height 110px