*
	margin 0
	padding 0
	outline 0
a
	text-decoration none
body
	color #444
	font 13px/1.7em "Open Sans", "trebuchet ms", arial, sans-serif
h1
h2
h3
h4
h5
h6	
p
	margin 0 auto 10px
	font-family 'Open Sans', 'trebuchet ms', arial, sans-serif
h3
	font-size 24px
// button
.btn
	border 1px solid transparent
	border-radius 4px
	cursor pointer
	display inline-block
	font-size 14px
	font-weight normal
	line-height 1.428571429
	margin-bottom 0
	padding 6px 12px
	text-align center
	vertical-align middle
	white-space nowrap
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	-o-user-select none
	user-select none
.btn-default
	background-color #fff
	border-color #ccc
	color #333
.btn-primary
	background-color #e5412d
	border-color #dd301b
	color #ffffff
.btn-block
	display block
	padding-right 0
	padding-left 0
	width 100%
	
// input
input[type=text]
input[type=password]
	background-color #fff
	border 1px solid #ccc
	border-radius 4px
	box-shadow inset 0 1px 1px rgba(0,0,0,0.075)
	color #555
	display block
	font-size 14px
	height 34px
	line-height 1.428571429
	padding 6px 12px
	transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
	vertical-align middle
	-webkit-box-shadow inset 0 1px 1px rgba(0,0,0,0.075)
	-webkit-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
	width 95%
	








