*
	font-family TitilliumWeb-Bold
	list-style none
	margin 0
	padding 0
	outline 0
	text-transform uppercase
body
	background-color #EDEEF2
a
	text-decoration none
input[type="text"]
input[type="password"]
input[type="email"]
	border 2px solid #DDE1E1
	color #666666
	font-family TitilliumWeb-Light
	font-size 18px
	height 40px
	padding 0 15px
	&:focus
		border-color #878787
// MENU LATERAL
.menu-lateral
	background-color #1E1E1E
	display block
	float left
	width 130px
	.logo
		background url(../images/logo.png) 0 0 no-repeat
		display block
		height 162px
		margin 20px auto
		width 97px
	ul
		border-top 1px solid #2E2E2E
		display block
		li
			border-bottom 1px solid #2E2E2E
			display block
			a
				color #3F3F3F
				display block
				font-size 14px
				height 45px
				padding-top 49px
				text-align center
				&.active
				&:active
					background-color #C02C0A
					color #fff
// CONTAINER
.container
	display block
	left 130px
	position absolute
	text-align center
	top 0px
	width 90%
// TITULO DA PAGINA
h1
	background-color #fff
	border-bottom 2px solid #DDDEE2
	color #2C3D4E
	display block
	float left
	font-size 26px
	height 90px
	left 0px
	line-height 90px
	position absolute
	text-align left
	top 0
	padding-left 50px
	width 96%

// CONTENT
.content
	display inline-block
	margin 92px auto 0
	padding 30px 0
	text-align left
	width 980px
	
hr
	border none
	border-top 1px solid #DDDDDD
	clear both
	display block
	float left
	height 1px
	margin 50px 0
	width 980px






















