.dashboard-stat
	background-color #eee
	border-radius 5px
	display block
	overflow hidden
	padding 30px 20px
	position relative
	&
	&:hover
	&:active
	&:focus
		color #666
		outline none
		text-decoration none
		text-shadow 1px 1px 2px rgba(255, 255, 255, 0.5)
	i
	&:hover i
	&:active i
	&:focus i 
		color #e4e4e4
	&:hover
		background-color #e6e6e6
		i
			color #dcdcdc
	&:active
		box-shadow inset 0 3px 5px rgba(0, 0, 0, 0.125)
		outline 0
		-webkit-box-shadow inset 0 3px 5px rgba(0, 0, 0, 0.125)
		-moz-box-shadow inset 0 3px 5px rgba(0, 0, 0, 0.125)
	&.primary
	&.primary:hover
	&.primary:active
		background-color #e5412d
		color #FFF
		text-shadow 1px 1px 2px rgba(0, 0, 0, 0.5)
		i
			color #dd301b
	&.primary:hover
		background-color #e3351f
		i
			color #d42e1a
	&.secondary
	&.secondary:hover
	&.secondary:active
		background-color #f0ad4e
		color #FFF
		text-shadow 1px 1px 2px rgba(0, 0, 0, 0.5)
		i
			color #eea236
	&.secondary:hover
		background-color #eea236
		i
			color #ec9924
	&.tertiary
	&.tertiary:hover
	&.tertiary:active
		background-color #888888
		color #FFF
		text-shadow 1px 1px 2px rgba(0, 0, 0, 0.5)
		i
			color #7b7b7b
	&.tertiary:hover
		background-color #7b7b7b
		i
			color #717171
	.visual
		float right
		height 100%
		width 54px
		z-index 10
		i
			bottom 0
			display block
			font-size 72px
			height 72px
			left auto
			position absolute
			right 0
			-webkit-transform rotate(-30deg)
			-moz-transform rotate(-30deg)
			-o-transform rotate(-30deg)
			-ms-transform rotate(-30deg)
			transform rotate(-30deg)
			text-shadow none
	.details
		float left
		margin-top -10px
		position relative
		text-align left
		z-index 11
	.value
		display block
		font-size 32px
		font-weight 600
	.content
		display block
		font-size 13px
		font-weight 600
		margin-bottom 1em
		text-transform uppercase
	.more
		color rgba(0, 0, 0, 0.25) !important
		font-size 16px
		position absolute
		right 10px
		text-shadow none
		top 10px