#login-container
  margin 80px 0
  margin 0 auto
  position relative
  text-align center
  width 90% 
#login-container #logo
  height 95px
  left 50%
  margin-left -50px
  position absolute
  top -50px
  width 100px
  z-index 100
#login
  background-color #FFF
  border-radius 4px
  box-shadow 1px 1px 5px rgba(0, 0, 0, 0.65)
  margin 0 auto
  padding 50px 25px 25px
  position relative
  width 400px
  -webkit-box-shadow 1px 1px 5px rgba(0, 0, 0, 0.65)
  #login-form
    margin 25px auto 0
    .form-group
      display block
      margin 0 0 20px
      label
        display none
    #login-btn
      font-size 20px
      padding-top 10px
      padding-bottom 10px