#rel_aluno_plano
#rel_aula
#rel_metrica_contrato
	.titulo:after
		content '\e617'
	.box
		margin-bottom 20px
#rel_aluno_plano
	table
		tr.ativo
			td
				background-color #E7E8EC
#rel_aula
	p
		float left
		margin-left 10px
		width 250px
		&:first-child
			margin-left 0
		input
			width 216px
#rel_metrica_contrato
	.t1
		border-bottom 10px solid #353535
		margin-bottom 10px
	p
		margin 0 auto 10px
		width 380px
		input[type="date"]
			width 346px
