.modal-header
	| Cadastro de pagamentos
.modal-body
	.container-fluid
		.row
			.col-xs-6
				label(for="agrupador") Data
				input#agrupador.form-control(type="text", data-ng-model="agrupadorDataset.nome", required)
			.col-xs-6
				label(for="agrupador") Valor
				input#agrupador.form-control(type="text", data-ng-model="agrupadorDataset.nome", required)
		.row
			.col-xs-6
				label(for="agrupador") Identificador
				input#agrupador.form-control(type="text", data-ng-model="agrupadorDataset.nome", required)
			.col-xs-6
				span &nbsp
				button.btn.btn-success.btn-block Adicionar
	.row
		.col-xs-12
			.table-responsive
				table.table.table-striped.table-bordered.table-hover.table-highlight.table-checkable
					thead
						tr
							th Cód
							th Nome
							th Ação
						tr
							th
								input.form-control.input-sm.show(type="text", placeholder="Cód", data-ng-model="formapagamentoFilter.id_forma_pagamento")
							th
								input.form-control.input-sm.show(type="text", placeholder="Nome", data-ng-model="formapagamentoFilter.nome")
							th
					tbody
						tr(data-ng-repeat="item in formapagamentoDataset | filter:formapagamentoFilter")
							td {{item.id_forma_pagamento}}
							td {{item.nome}}
							td
								a.btn.btn-sm.btn-success(href="#/cad_formapagamento/{{item.id_forma_pagamento}}")
									i.fa.fa-edit
								a.btn.btn-sm.btn-danger(data-ng-click="deletaFormaPagamento(item);")
									i.fa.fa-eraser
.modal-footer
	button.btn.btn-success(data-ng-click="salvaAgrupador()") Salvar
	button.btn.btn-danger(data-ng-click="ok()") Fechar