ul.nav.navbar-nav.pull-right(data-ng-controlle="MenuCtrl")
	li
		a.dropdown.dropdown-toggle
			i.fa.fa-user
			{{$root.loggedUserData.nome}}
			span.caret
		ul.dropdown-menu(role="menu")
			li.dropdown-menu-item
				a(href="#/perfil")
					i.fa.fa-cogs
					&nbsp;&nbsp;Configuração de Usuário
			li.divider
			li.dropdown-menu-item
				a(href="#/logout")
					i.fa.fa-sign-out
					&nbsp;&nbsp;Logout