nav#sidebar(data-ng-controller="menuCtrl", data-ng-show="sideBarIsVisible")
	ul#main-nav.open-active(ws-menu)			
		li.active(data-ng-show="verificaPermissaoAcesso('menu/dashboard')")
			a(href="#/dashboard")
				i.fa.fa-dashboard
				| Dashboard
		li(data-ng-show="verificaPermissaoAcesso('menu/aluno')")
			a(href="#/aluno")
				i.fa.fa-user
				| Aluno
		li(data-ng-show="verificaPermissaoAcesso('menu/aulaexp')")
			a(href="#/aulaexp")
				i.fa.fa-list-alt
				| Aula Experimental
		li(data-ng-show="verificaPermissaoAcesso('menu/estacionamento')")
			a(href="#/estacionamento")
				i.fa.fa-truck
				| Estacionamento
		li(data-ng-show="verificaPermissaoAcesso('menu/servico')")
			a(href="#/servico")
				i.fa.fa-book
				| Serviços
		li(data-ng-show="verificaPermissaoAcesso('menu/presenca')")
			a(href="#/presenca")
				i.fa.fa-check-square-o
				| Presença
		li(data-ng-show="verificaPermissaoAcesso('menu/financeiro')")
			a(href="#/financeiro")
				i.fa.fa-money
				| Financeiro
		li.dropdown
			a(href="javascript:;")
				i.fa.fa-bar-chart-o
				| Relatórios
				span.caret
			ul.sub-nav
				li(data-ng-show="verificaPermissaoAcesso('menu/relatorio/relaluno')")
					a(href="#/relaluno")
						i.fa.fa-bar-chart-o
						| Aluno
				li
					a(href="#/relalunosplano")
						i.fa.fa-bar-chart-o
						| Aluno/Plano
				li(data-ng-show="verificaPermissaoAcesso('menu/relatorio/relmetricacontrato')")
					a(href="#/relmetricacontrato")
						i.fa.fa-bar-chart-o
						| Metrica de Contrato
				li(data-ng-show="verificaPermissaoAcesso('menu/relatorio/relaula')")
					a(href="#/relaula")
						i.fa.fa-bar-chart-o
						| Aula
				li(data-ng-show="verificaPermissaoAcesso('menu/relatorio/relservico')")
					a(href="#/relservico")
						i.fa.fa-bar-chart-o
						| Serviço
				li
					a(href="#/relpresenca")
						i.fa.fa-bar-chart-o
						| Presença						
		li.dropdown
			a(href="javascript:;")
				i.fa.fa-cog
				| Configuração
				span.caret
			ul.sub-nav
				li(data-ng-show="verificaPermissaoAcesso('menu/configuracoes/desconto')")
					a(href="#/desconto")
						i.fa.fa-cog
						| Desconto
				li(data-ng-show="verificaPermissaoAcesso('menu/configuracoes/formapagamento')")
					a(href="#/formapagamento")
						i.fa.fa-cog
						| Formas de pagamento
				li(data-ng-show="verificaPermissaoAcesso('menu/configuracoes/plano')")
					a(href="#/plano")
						i.fa.fa-cog
						| Planos